extends layout

block content
  h2.head-title.wow.fadeInUp= title
  h5.text-primary= description
  br
  .header-button.wow.fadeInUp(data-wow-delay='0.3s')
    .container
      form(method='post', action='/url')
        .form-group
          input#url.form-control(type='url', name='url', placeholder='Enter URL', required='', data-error='Please enter a valid URL')
        button.btn.btn-common(type='submit') Shorten URL
        